body{
    font-family: sans-serif;
}
.cabecera{
	background-color: #000;
	}

.logo{
   width: 150%;
}

nav{
   float: right;
}

nav div {
	display: inline-block;
	color: #fff;
	margin: 4.5% auto;
    }
.enlaces h3, h4{
    text-align: center;
    display: inline-block; 
    padding: 0.5%;
} 

.submenu{
	padding: 20px 0;
	background-color: #E6E6E6;
	}

.submenu .col-3 img{
	max-width: 100%;
}

.lista ul {
    list-style: none;
}
.lista ul li {
    display: inline-block;
    width: 124px;
    vertical-align: top;
    margin: 0 10px 10px 0;
}
.lista ul a {
    text-decoration: none; 
    font-size: 15px;
}
.lista ul li a p {
    text-align: center;
    font-weight: lighter;
    color: #4987bc;
}
.lista .img-responsive {
    width: 120px;
    border: 1px solid #d6d6d6;
    padding: 3px;
}

.lista a{
    list-style: none;
    color: black;
    outline-style: none;
}

.itunes{
    display: inline-block;
}
.itunes li img{
	width: 15px;
   }
.itunes li{
    list-style: none;
    font-size: 10px;
    }

.contenido h3{
	font-size: 15px;
	padding-left: 0;
	padding-bottom: 5px;
	border-bottom: 2px solid #A4A4A4;
}
.piepagina{
	background-color: #000;
	text-align: center;
	color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 50px;
}
.piepagina p{
	margin-top: 20px;
	margin-bottom: 20px;
}
.piepagina li{
	list-style-type: none;
	display: inline;
	margin-right: 20px;
}
.piepagina a{
	text-decoration: none;
	color: #fff;
}
.piepagina .copyright{
	color: #BDBDBD;
	font-size: 12px;
	}